:root {
	--color-white: hsl(0, 0%, 100%);
	--light-grayish: hsl(270, 3%, 87%);
	--dark-grayish: hsl(279, 6%, 55%);
	--very-dark: hsl(278, 68%, 11%);

	--error: hsl(0, 100%, 66%);

	--gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
	--fw-500: 500;
}

body {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: var(--fw-500);
	font-size: 18px;
	color: var(--very-dark);
}

.main {
	display: flex;
}

.left-side {
	width: 35%;
	height: 100vh;
	background-image: url(/images/bg-main-desktop.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.right-side {
	width: 65%;
	height: 100vh;
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Card Back Styles /////////////////////////////////////////////////*/
.card-back {
	position: absolute;
	top: 32rem;
	left: 6rem;
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
	color: var(--color-white);
}

.card-cvv {
	position: absolute;
	top: 6.5rem;
	right: 3rem;
	font-size: 1.3rem;
	letter-spacing: 0.2rem;
}
/* End Back Card Styles //////////////////////////////////////////////*/

/* Card Front Styles /////////////////////////////////////////////////*/
.card-front {
	position: absolute;
	top: 15rem;
	left: 2rem;
	color: var(--color-white);
}

.card-logo {
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}

.card-number {
	position: absolute;
	top: 7.5rem;
	left: 1.5rem;
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
}

.card-name {
	position: absolute;
	top: 12rem;
	left: 1.5rem;
	font-size: 1rem;
	letter-spacing: 0.2rem;
}

.card-month {
	position: absolute;
	top: 12rem;
	right: 5rem;
	font-size: 1rem;
	letter-spacing: 0.2rem;
}

.card-year {
	position: absolute;
	top: 12rem;
	right: 3rem;
	font-size: 1rem;
	letter-spacing: 0.2rem;
}
/* End Front Card Styles ////////////////////////////*/

.completed {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.title {
	font-size: 1.9rem;
	letter-spacing: 0.6rem;
}

.sub-title {
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	color: var(--dark-grayish);
}

.continue-btn {
	padding: 0.6rem;
	border-radius: 0.4rem;
	background-color: var(--very-dark);
	color: var(--color-white);
	width: 420px;
}

.continue-btn:hover {
	background-color: hsl(249, 99%, 64%);
	cursor: pointer;
}
